<section class="home-splash">
  <section>
    <section>
      <section>
        <h2>Simple Affiliate Marketing Analytics</h2>
        <h4>Accurate, unbiassed technology for performance marketing.</h4>
        <%= link_to 'Try it for Free', new_user_registration_path, :class => 'button' %>
      </section>
    </section>
  </section>
</section>

<section class="how-it-works">
  <div class="wrapper">
    <div class="row">
      <div class="large-10 columns center">
        <ul class="small-block-grid-4">
          <li>
            <i class="fi-upload-cloud large"></i>
            <h4>Add Deals</h4>
    		  </li>
          <li>
            <i class="fi-laptop large"></i>
            <h4>Invite Affiliates</h4>
    		  </li>
          <li>
            <i class="fi-dollar-bill large"></i>
            <h4>Customize Payout</h4>
    		  </li>
          <li>
            <i class="fi-graph-trend large"></i>
            <h4>Optimize ROI</h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div id="pricing-table" class="row collapse">
  <div id="standard" class="large-4 columns">
    <ul class="pricing-table">
      <li class="title">Starter</li>
      <li class="price">$79 / Month</li>
      <li class="description">30 Days Free / Cancel Anytime</li>
      <li class="bullet-item">10 Offers & Unlimited Users</li>
      <li class="bullet-item">50k Clicks/Month</li>
      <li class="bullet-item">Email Support Only</li>
      <li class="cta-button"><a class="button secondary" href="#">Try it for Free</a></li>
    </ul>
  </div>

  <div id="premium" class="large-4 columns">
    <ul class="pricing-table">
      <li class="title">Professional</li>
      <li class="price">$199 / Month</li>
      <li class="description">30 Days Free / Cancel Anytime</li>
      <li class="bullet-item">100 Offers & Unlimited Users</li>
      <li class="bullet-item">300k Clicks/Month</li>
      <li class="bullet-item">Dedicated Account Manager</li>
      <li class="cta-button"><a class="button" href="#">Try it for Free</a></li>
    </ul>
  </div>

  <div id="ultimate" class="large-4 columns">
    <ul class="pricing-table">
      <li class="title">Enterprise</li>
      <li class="price">$699 / Month</li>
      <li class="description">30 Days Free / Cancel Anytime</li>
      <li class="bullet-item">Unlimited Users, Clicks, Offers</li>
      <li class="bullet-item">Custom API Support</li>
      <li class="bullet-item">Dedicated Account Manager</li>
      <li class="cta-button"><a class="button secondary" href="#">Try it for Free</a></li>
    </ul>
  </div>
</div>
