<section class="home-splash">
  <section>
    <section>
      <section>
        <h2>Simple Affiliate Marketing Analytics</h2>
        <h4>Accurate, unbiassed technology for performance marketing.</h4>
        <%= link_to 'Start Now for Free', deals_path, :class => 'button' %>
      </section>
    </section>
  </section>
</section>

<section class="how-it-works">
  <div class="wrapper">
    <div class="row">
      <div class="large-10 columns center">
        <ul class="small-block-grid-4">
          <li>
            <i class="fi-upload-cloud large"></i>
            <h4>Add Deals</h4>
    		  </li>
          <li>
            <i class="fi-laptop large"></i>
            <h4>Invite Affiliates</h4>
    		  </li>
          <li>
            <i class="fi-dollar-bill large"></i>
            <h4>Customize Payout</h4>
    		  </li>
          <li>
            <i class="fi-graph-trend large"></i>
            <h4>Optimize ROI</h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div id="pricing-table" class="row collapse">
  <div id="standard" class="large-4 columns">
    <ul class="pricing-table">
      <li class="title">Standard</li>
      <li class="price">$39.99</li>
      <li class="description">For Regular Websites</li>
      <li class="bullet-item">1 Database</li>
      <li class="bullet-item">5GB Storage</li>
      <li class="bullet-item">20 Users</li>
      <li class="cta-button"><a class="button secondary" href="#">Buy Now</a></li>
    </ul>
  </div>

  <div id="premium" class="large-4 columns">
    <ul class="pricing-table">
      <li class="title">Premium</li>
      <li class="price">$69.99</li>
      <li class="description">For Small Business</li>
      <li class="bullet-item">2 Database</li>
      <li class="bullet-item">10GB Storage</li>
      <li class="bullet-item">40 Users</li>
      <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
    </ul>
  </div>

  <div id="ultimate" class="large-4 columns">
    <ul class="pricing-table">
      <li class="title">Ultimate</li>
      <li class="price">$99.99</li>
      <li class="description">For Fast Business</li>
      <li class="bullet-item">3 Database</li>
      <li class="bullet-item">15GB Storage</li>
      <li class="bullet-item">60 Users</li>
      <li class="cta-button"><a class="button secondary" href="#">Buy Now</a></li>
    </ul>
  </div>
</div>
