<div class="row">

  <%= render partial: 'deals/table', locals: { deals: @deals } %>

  <%= render partial: 'landing_pages/table', locals: { landing_pages: @landing_pages } %>

  <%= render partial: 'earnings/table', locals: { earnings: @earnings } %>


</div>
