section.home-splash {
  & > section {
    overflow: hidden;
      & > section {
      // background: rgba(100,100,100,.95);
      padding: 8rem 2rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
      text-align: center;
      a {
        margin-top: 1rem;
      }
    }
  }
  // background: url('/assets/frontpage-splash.jpg') center;
  // background-size: cover;
//   background:
// 	linear-gradient(
// 		#a7ce58,
// 		transparent
// 	),
// 	linear-gradient(
// 		45deg,
// 		#a7ce58,
// 		transparent
// 	),
// 	linear-gradient(
// 		-90deg,
// 		#a7ce58,
// 		transparent
// 	);
//
// background-blend-mode: screen;

  background-color: #e5e5e5;
  background-image: linear-gradient(#f0f0f0 2px, transparent 2px),
  linear-gradient(90deg, #f0f0f0 2px, transparent 2px),
  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
}

section.how-it-works .wrapper .columns {
  padding: 3rem auto;
  width: 100%;
  margin: 2rem auto 6rem auto;
  > ul li {
    list-style-type: none;
    float: left;
    width: 235px;
    text-align: center;
    font-family: "proximanova_light";
    font-weight: normal;
    line-height: 1.6em;
    font-size: 16px;
    padding: 0 0.5rem;
  }
}



/* custom styles for the responsive pricing table */
/**
 * Created by Jamal Mohammed (@mdjamal) in November 2013.
 * http://www.icelabs.in
 */

#pricing-table {
	padding: 0 0.9375rem 6rem;
}

#premium .pricing-table .title {
	background-color: #a7ce58;
	padding: 1.3875rem 1.25rem;
}

#premium .pricing-table {
	margin-bottom: 0;
}

#premium .pricing-table .cta-button {
	padding: 2.25rem 1.25rem 0;
}

#ultimate .pricing-table, #standard .pricing-table{
	margin: 1rem 0;
}

/* end custom styles for the responsive pricing table */
